@charset "UTF-8";


.picture1{
		width: 640px;
		height: 480px;
		background-image: url(/ex02/resources/images/cat.jpg);   /*contextPath 부터 적어준다 /ex02/....*/
		background-size: 640px 480px;
	}
	.picture2{
		width: 640px;
		height: 480px;
		background-image: url(/ex02/assets/images/dog.jpg);   /*contextPath 부터 적어준다 /ex02/....*/
		background-size: 640px 480px;
	}
	
	